/* ==============
  Estilos principales de Litorales de Colombia
  ============ */

/* Bandeja de colores

Tema principal de la web Gris: #333;

Secundarios:
Verde: #04AA6D;
Blanco: #ffffff;

Auxiliares:
Gris claro: #ccc;
Gris oscuro: #999;
Gris border: #cccccc66;

Extras funcionales con el #333:
Rojo: #b90404;
Violeta: #7d5ba6;
Naranja: #F39237;
Indigo-azul: #304E68;
Pera: #C2D500;

*/

/* Carga de fuentes */
@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  }

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;;
  }

  /* Varela Round */
@font-face {
  font-family: 'Varela Round';
  src: url('../assets/fonts/varelaRound/VarelaRound-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  }

html {
  scroll-behavior: smooth;
}

/* Se limpian características espaciales para facilitar la personalización */
body {
    margin: 0;
    font-family: 'nunito', sans-serif;
    background-color: rgb(86, 86, 86);
    color: white;
    font-size: 17px;
    text-align: justify;
  }

/* Sería interesante aplicarlo más bien al body */
.contentSizeToggle { 
    font-size: 20px;
  }


.bodyBackgroundToggle {
    background-color: rgb(238, 238, 238);
  }

/* Se personaliza */
a {
  transition: transform 0.5s ease, background-color 0.3s, color 0.3s;
  }

h2 {
  border-bottom: 2px solid rgb(120, 120, 120);
  padding-bottom: 0.5rem;
}

button {
  background-color: #333;
  box-shadow: none;
  border: none;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #ffffff;
  color: black;
  }

button .active {
  color: white;
  }

/* Personaliza el <header> que contiene 3 menús */
.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.topbar a {
  background-color: #333;
  padding-top: 14px;
  padding-bottom: 14px;
  text-decoration: none;
  cursor: pointer;
}

/* Comportamientos adicionales de los a del topbar en color normal */
.topbar a:hover {
  background-color: white;
  color: black;
}

.topbar a.active {
  color: white;
}

.topbar a.active:hover {
  background-color: white;
  color: black;
}

/* Primer menú del <header> horizontal */
.topnav {
  background-color: #333; /*Esconde errores de paddings entre menús*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* Cambios del topnav con el toogle del background */
.topnavToggleBackgroundChange {
  background-color: white;
  color:black
}

/* Primeros links del primer menú  */
.topnav a {
  background-color: #333;
  flex-grow: 1;
  text-align: center;
  color: #f2f2f2;
  font-size: 17px;  
  float: left;
}

/* Segundo menú del <header> desplegable vertical */
.topSideBar {
  width: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 17px;
  gap: 10px; /* Para que se separen el bars del span */
  padding-top: 7px;
  padding-bottom: 7px;
}

/* Efectos de cruz */
.topSideBar .bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 6px;
  transition: 0.4s;
  }

.topSideBar:hover .bar {
  background-color: black;
  transition: 0.4s;
  }

/* Transformaciones del ícono de menú */
.toggleSideBarClass .bar1 {
      transform: translate(0, 11px) rotate(-45deg);
  }
.toggleSideBarClass .bar2 {
      opacity: 0;
  }
.toggleSideBarClass .bar3 {
      transform: translate(0, -11px) rotate(45deg);
  }

/* despliegue del segundo menú del <header>, va en vertical */
.sideNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-right: 1px solid rgba(204, 204, 204, 0.2);
    z-index: 2;
    
    align-items: center;
    justify-content: center; 

    width: 12%;
    height: 95%;
    left: 0px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

.sideNav.toggleSideOk {
  transform: translateX(0); /* Entra desde la izquierda */
}

.sideNav a {
  display: flex;
  align-items: center; 
  justify-content: center;
  color: white;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  /* box-sizing: border-box; */
}

.sideNav a:first-of-type {
  border-top: 1px solid rgba(204, 204, 204, 0.2);
}

/* Tercer menú del <header> migajas en horizontal */
.breadcrumbs {
  background-color: #333;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  transition: transform 0.3s ease-in-out, background-color 0.3s, color 0.3s, padding 0.3s, flex-grow 0.3s, width 0.3s ease;
 /* Transición de la traslación suave */
  transform: translateX(0);
  z-index: 1;
}

/*incluye un spam único que se parece a los links*/
.breadcrumbs span {
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px solid rgba(204, 204, 204, 0.2);
  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
  background-color: #333;
  padding-left: 2%;
  padding-right: 2%;
}

/*Tiene estilos únicos en los botónes*/
.breadcrumbs a {
  background-color: #ffffff;
  color: #333;
  flex-grow: 1;
}

.breadcrumbs a:hover {
  background-color: #333;
  color: white;
}

/* Se afecta con el despliegue del menú vertical sideNav*/
.breadcrumbToggle {
  transform: translateX(11.5vw);
  width: 88.5%;
}

.breadcrumbs a.backBtn {
  background-color: #333;
  color: #ffffff;
  flex-grow: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(204, 204, 204, 0.2);
  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
  border-right: 1px solid rgba(204, 204, 204, 0.2);
  background-color: #333;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 23px;
}

/* A partir de aquí se visualiza el contenido el principal */	
.content {
    background-color: transparent;
    margin-top: 6.5vw;
    padding: 40px;
    height: 75vh;
    margin-left: 0;
    transition: padding-right 2s ease, margin-left 0.3s ease;

  }

.content a {
  color: rgb(78, 181, 215);
}

#credits .leader span {
  color: rgb(78, 181, 215);
}

#credits ul li::before {
  color: rgb(78, 181, 215);
}

#credits .webEdition span {
  color: rgb(78, 181, 215);
}

.contentBackgroundToggle {
  color: black;
}

/* ============
    Estilos del heroImage y del texto que lo acompala
    ============ */

/* la imagen de fondo, no se modifica con desplegables, no sigue el scroll */
/* Se inyecta a través de un div independiente del header y del main */
.heroImage {
  transition: background-image 0.5s ease;
  transition: opacity 0.8s ease;
  position: absolute;
  margin-top: 6.5vw; /* Para que no se pierda parte de la imagen con el header tapando */
  top: 0;
  left: 0;
  width: 99vw; /* Para que no ocupe la barra de scroll */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

/* Se inyecta a en el main, hereda lo responsivo */
.heroText {
  display: flex;
  flex-direction: column;
  text-wrap: break-word;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  transition: opacity 0.8s ease;
}

.heroTitle {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  text-align: center;
  margin-top: 0.4em;
  font-style: italic;
  background: linear-gradient(to top, #cccccccd, #f2f2f2);
  background-clip: text; /* estándar para que no salten alarmas */
}

/* De contenidos secundarios */
.heroTextSubcontent {
  transition: opacity 0.8s ease;
  display: flex;
  flex-direction: column;
  text-wrap: break-word;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

/* De contenidos secundarios */
.heroTitleSubcontent {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
  font-style: italic;
  background: linear-gradient(to top, #cccccccd, #f2f2f2);
  background-clip: text; /* estándar para que no salten alarmas */
}

/* Aplica a ambas versiones a través de scriptBackgroudChange.js */
.heroTitleToggle {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to top, black, #3333338c);
  background-clip: text; /* estándar para que no salten alarmas */
}

/* Aplica a ambas versiones cuando tienen etiquetas */
.heroSubtitle {
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  font-style: italic;
}

/* Aplica a subcapítulos sin etiquetas */
.herosubchapter {
  margin-top: 0px;
  font-size: 20px;
  font-style: italic;
  background: linear-gradient(to top, #cccccccd, #f2f2f2);
  background-clip: text; /* estándar para que no salten alarmas */
}

/* Explicación de cómo citar */
.citing {
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ============
    Continúa personalización de la web
    ============ */

/* Cuarto menú, desplegable independiente de herramientas */
.icon-bar {
  width: 80px;
  position: fixed;
  right: 2%;
  transition: transform 0.5s ease, background-color 0.3s;
  top: 20%;
}

/* particular de botones del menú */
.icon-bar button {
  padding: 18px 0px; /* Tienen un padding extra */
  color: white;
  font-size: 25px; /* Tienen un tamaño extra para hacer a los íconos más evidentes */
  width: 100%;
  display: block;
}

/* Botón con características especiales */
#wrench-btn {
  opacity: 0; /* Oculto por defecto   */
  pointer-events: none; /* No clics cuando está oculto */
  transition: opacity .25s ease;
  border: 1px solid #cccccc66;
}

/* Visible cuando el cursor está cerca */
#wrench-btn.visible{
  opacity: 1;
  pointer-events: auto;         /* Reactiva clics */
}

/*Es el contenedor de los botones tras el despliegue del wrench*/
.dropWrench {
  border: 1px solid rgba(204, 204, 204, 0.2);
  display: none;
}

.dropWrenchtoggle {
  display: flex;
  flex-direction: column;
}

/* característica para el parpadeo de la llave*/
@keyframes flash {
  0%, 100% { opacity: 0.0; filter: none;
    box-shadow: none;}
  50% { opacity: 1; filter: brightness(1); /* Más brillante */
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2); /* Brillo alrededor */}
}

button.flash {
  animation: flash 5s ease-in-out 3 forwards;
}

/* Se le pone un verde muy claro que comparte con el breadcrums*/
.icon-bar button:hover {
  background-color: #ffffff;
    color: black;
}

#fontToggleButton .fa-plus {
  font-size: 18px
}

#fontToggleButton .fa-minus {
  font-size: 18px
}

#fontToggleButton .fa-font {
  font-size: 25px;
}

/* Se personaliza el menú de búsqueda */
.search-menu {
  visibility: hidden;
  opacity: 0;
  border: 1 px solid rgba(204, 204, 204, 0.8);
  pointer-events: none;
  transition: opacity 1s ease;
  position: absolute;
  right: 80px; /* Se despliega hacia la izquierda del menú */
  background-color: #333;
  font-size: 22px;
  z-index: 2;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.search-menu-toggle {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.search-menu form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 380px;
}

.search-menu input[type="text"] {
  padding: 12px;
  margin: 0px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #ffffff;
  width: 240px;
}

.search-menu button {
  border: none;
  text-align: center;
  width: 70px;
}

/* Para los botónes de arriba y abajo */
.search-menu .search-results {
  display:flex;
  flex-direction: column;
}

.search-menu .search-results button {
  text-align: center;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
  width: 60px;
}

/* Despliegue del menú de idiomas */
.language-menu {
  display: flex;
  flex-direction: row;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  position: absolute;
  right: 80px; /* Se despliega hacia la izquierda del menú */
  bottom: 0;
  font-size: 22px; /* Tamaño para que se vean bien las banderas */
  border: 1 px solid rgba(204, 204, 204, 0.8);
}

.language-menu-toggle {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.language-menu button {
  padding-left: 20px;
  padding-right: 20px;
}

[id] {
    scroll-margin-top: 120px; /* Aplica cuando usas scrollIntoView sin JS extra */
}

/* Cambios del content */
.contentToggleSidebar {
    margin-left: 12vw;
  }

.contentToggleDropWrench {
    padding-right: 10vw;
  }


/* Mensaje bajo cabecera */

.mensaje-informativo {
  text-align: center;
}

/* Realización de tablas */

td, th {
  border: 1px solid #cccccc66;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  overflow-wrap: break-word;
  word-break: break-word; /* o break-all si quieres cortar cualquier palabra larga */
}

table caption {
  font-style: italic;
}

.table1 {
  border: 1px solid #333;
  border-collapse: collapse;
}

table img {
  max-width: 100%;
  height: auto;
  align-items: center;
  display: block;
  background-color: #ccc;
}

.table2, .table3 {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #333;
  table-layout: fixed;
}

/* Reporte de errores */

.floating-card {
  position: fixed;
  height: 35%;
  top: 20%;
  right: 12%;
  width: 68%;
  background-color: #ffffff;
  border: 1px solid #333333;
  padding: 25px;
  border-radius: 10px;
  z-index: 1000;
  transition: all 0.3s ease;
}

.floating-card.hidden {
  display: none;
}

/* Personalización de la tarjeta de error */
#errorForm h3 {
  color:#333
}

#errorForm span {
  color: rgb(255, 89, 0);
}

#reportCard #errorForm #closeButton {
  position: absolute;
  font-weight: bold;
  border: none;
  top: 10%;
  right: 2.5%;
  padding: 15px 20px;
}

#reportCard #errorForm #closeButton:hover, #reportCard #errorForm #cancelButton:hover,  #reportCard #errorForm #submitButton:hover {
  background-color: #ccc;
  color: black;
  border: 1px solid #333;
}

textarea, input {
  font-family:  'Nunito', sans-serif;
  font-size: 17px;
  width: 100%;
  padding: 8px;
  margin: 8px 0px;
  box-sizing: border-box;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  padding: 12px 10px;
  cursor: pointer;
  font-size: 17px;
}

/* Tags para cabecera */
.tag {
  display: inline-block;
  padding: 0.2em 0.6em;
  font-size: 0.75rem;
  font-weight: 600;
  color: white;
  background-color: #333;
  border: 1.5px solid;
  border-radius: 0.5em;
  margin: 0.2em;
  text-transform: uppercase;
}

/*Especificaciones de los tags*/
.tag.info {
  color: #333;
  background-color: #ffffff;
}

.tag.warning {
  background-color: #ffffff;
  border-color: #333;
}

.flecha-icono {
  font-style: italic;
  padding: 0px;
  transform: translateY(-1px); /* Desplaza la flecha hacia arriba */
  font-size: 10px; /* Cambia el tamaño del ícono */
  color: #333;      /* Color del ícono */
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease;
}

.flecha-icono:hover {
  transform: translateY(0px); /* Desplaza la flecha hacia abajo al pasar el cursor */
}

/* Créditos */
#credits .groupsOrder {
  display: flex;
  flex-direction: row;
  gap: 2rem;               /* Espacio entre columnas */
  margin-top: 2rem;
  flex-wrap: wrap;         /* Permite que se acomoden en pantallas pequeñas */
}

/* Poner lideres de grupos */
#credits .groupsOrder > div {
  padding-left: 2vw;
  flex: 1;                 /* Que cada bloque use espacio equitativo */
}

#credits .leader {
  font-weight: bold;
}

#credits .leader span {
  font-weight: normal;
  font-style: italic;
}

#credits ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;
}

#credits ul li {
  margin-bottom: 1.2rem;
  padding-left: 1.8rem;
  position: relative;
  line-height: 1.5;
}

#credits ul li::before {
  content: "\f15c"; /* Icono de documento */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0.1rem;
}

#credits .contentType {
  padding-left: 2vw;
  padding-right: 5vw;
}

#credits .contentType ul{
  display:flex;
  flex-direction: row;
  align-items: stretch;
  gap: 3rem;
}

#credits .webEdition span {
  font-weight: normal;
  font-style: italic;
}

.provisional-site-footer {
  font-style: italic;
  font-size: 12px;
  display: flex;
  flex-direction: row; 
  gap: 20px;
  align-items: center;     /* Centrado vertical */
  padding: 20px 10px 40px 10 px;
}